<form action="/login" method="post">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" value="<%= params[:email] %>">
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" value="<%= params[:password] %>">
  <br>
  <input type="submit" value="Login">
</form>
