body {
  background-color: #fff2ef;
}

nav {
  background-color: #fbbc05;
  height: 20px;
  padding: 10px;
}

.body_container {
  width: 80%;
  margin: auto;
}

#logo_container {
  margin: auto;
  margin-top: 20px;
  width: 400px;
  height: 80px;
  text-align: center;
}

.logo1 {
  font-family: 'Carrois Gothic SC', sans-serif;
  display: inline;
  font-size: 60px;
}

.logo2 {
  font-family: 'Francois One', sans-serif;
  display: inline;
  font-size: 60px;
  color: #9c2902;
}

.home_button {
  background-color: #fff2ef;
  color: #fbbc05;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  margin-left: 60px;
}

#button_container {
  float: right;
  margin-right: 60px;
}

.nav_buttons {
  border: 1px solid #fff2ef;
  color: #fff2ef;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  margin-left: 20px;
}

.nav_buttons:hover {
  background-color: #fff2ef;
  color: #fbbc05;
}

.home_button:hover {
  background-color: #fbbc05;
  color: #fff2ef;
}

#img_search_form {
  margin: auto;
  width: 550px;
  padding: 10px;
  border-radius: 12px;
}

form {
  margin-top: 200px;
}

#form_title {
  font-weight: bold;
}

#source_img_url {
  width: 100%;
  height: 30px;
}

#search_button {
  margin-top: 12px;
  float: right;
  background-color: #9c2902;
  color: #fff2ef;
  border-radius: 5px;
}

#sherlock_logo {
  margin: auto;
  margin-top: 60px;
  width: 307px;
  height: 467px;
}

#sherlock {
  width: 307px;
  height: 467px;
}

.og_img {
  width: 300px;
}

.search_container {
  width: 800px;
  height: 250px;
  margin: auto;
}

#og_list {
  list-style-type: none;
  margin-left: 300px;
}

.original_image {
  display: inline-block;
  float: left;
}

/*.original_image_title {
  border: 1px solid black;
  display: inline-block;
  float: left;
}

.original_image_form {
  border: 1px solid black;
  display: inline-block;
  float: left;
}*/

#search_edit_form {
  display: inline;
}
