<div id="logo_container">
  <h1 class="logo2">Fraud</h1><h1 class="logo1">Finder</h1>
</div>


<div id="img_search_form">
  <form action="/searches" method="post">
    <label for="source_img_url" id="form_title">Paste Image URL:</label>
    <input type="text" id="source_img_url" name="source_img_url">
    <br>
    <input type="submit" id="search_button" value="Search">
  </form>
</div>
